:root {
    --txt-defualt: black;
    --txt-contrast: #E0B97D;
    --pad-defualt: 1.25rem;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    background-image: url("./photo-1598025792291-44ed6654d628.avif");
    background-repeat: no-repeat;
    background-size: cover;
    /* display: grid; */
    /* grid-template-rows: 97% 3%; */
    height: 100vh;
    overflow: hidden;
}

/* modal */

#modal {
    background-color: var(--txt-defualt);
    color: var(--txt-contrast);
    width: 68.75rem;
    padding: var(--pad-defualt);
    border-radius: var(--pad-defualt);
    position: absolute;
}

#modal #modal-content {
    display: flex;
}

#modal #task-add-prompt {
    font-size: 1.5625rem;
    text-align: center;
    margin-bottom: var(--pad-defualt);
}

#modal #modal-content #add-task-form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

#modal #modal-content #add-task-form input {
    margin-bottom: var(--pad-defualt);
}

#modal #modal-content #add-task-form input:nth-child(2) {
    height: 9.375rem;
}

#modal #modal-content #task-calender {
    width: 35%;
}

#modal #modal-btns {
    text-align: center;
    margin-top: var(--pad-defualt);
}

/* container */

#container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* interface */

#interface {
    padding: 1.5625rem;
    text-align: center;
}

/* header */

header h1 {
    margin: 0;
}

/* main */

main #add-task button {
    background-color: var(--txt-defualt);
    padding: var(--pad-defualt);
    border-radius: var(--pad-defualt);
    border: none;
    color: var(--txt-contrast);
    display: flex;
    align-items: center;
}

main #add-task button span:nth-child(2) {
    margin-left: .625rem;
}

/* footer */

footer {
    text-align: center;
}